@use '@assets/styles/constants';

.wrapper {
  width: 100%;
  overflow-x: auto;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 8px;
  padding: 6px 0;
  position: relative;
  left: -24px;

  &::-webkit-scrollbar {
    display: none;
  }

  .tab {
    display: flex;
    align-items: center;
    padding: 2px 24px;
    border-radius: 12px;
    white-space: nowrap;
    word-break: keep-all;
    cursor: pointer;
    font-weight: 500;

    &:first-of-type {
      margin-left: 12px;
    }
    &:first-of-type {
      margin-left: 12px;
    }


  }
  &.primary > .tab {
    border: 1px solid constants.$color-white;
    background-color: constants.$color-white;
    color: constants.$secondary-bg-color;
    @media (hover: hover) {
      &:hover {
        background-color: constants.$text-primary-color;
        border-color: constants.$secondary-bg-color;
      }
    }

    &:active {
      border-color: constants.$secondary-bg-color;
      background-color: constants.$secondary-bg-color;
      color: constants.$text-primary-color;
    }

    &Active {
      border-color: constants.$secondary-bg-color;
      background-color: constants.$secondary-bg-color;
      color: constants.$text-primary-color;
      cursor: default;
      @media (hover: hover) {
        &:hover {
          border-color: constants.$secondary-bg-color;
          background-color: constants.$secondary-bg-color;
          color: constants.$text-primary-color;
          cursor: default;
        }
      }
    }
  }
  &.secondary > .tab {
    border: 1px solid constants.$color-orange;
    background-color: constants.$text-primary-color;
    color: constants.$color-orange;
    @media (hover: hover) {
      &:hover {
        background-color: constants.$text-primary-color;
        border-color: constants.$main-bg-color;
      }
    }

    &:active {
      border-color: constants.$color-orange;
      background-color: constants.$color-orange;
      color: constants.$text-primary-color;
    }

    &Active {
      border-color: constants.$color-orange;
      background-color: constants.$color-orange;
      color: constants.$text-primary-color;
      cursor: default;
      @media (hover: hover) {
        &:hover {
          border-color: constants.$color-orange;
          background-color: constants.$color-orange;
          color: constants.$text-primary-color;
          cursor: default;
        }
      }
    }
  }

}
