@use '@assets/styles/constants';

.wrapper {
  width: calc(100% + 32px);
  overflow-x: auto;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 8px;
  padding: 16px 16px;
  position: relative;
  left: -16px;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
  }

  .tab {
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 0 12px;
    height: 36px;
    border-radius: 12px;
    cursor: pointer;

    border: 1px solid constants.$text-inactive-color;
    background-color: transparent;

    &Img {
      width: 24px;
      height: 24px;
      min-width: 24px;
    }

    .label {
      position: relative;
      top: 1px;
      @include constants.text-medium;
      text-align: center;
      font-size: 15px;
      line-height: 1;
      white-space: nowrap;
      word-break: keep-all;

    }


    &:active {
      background-color: constants.$color-beige;
    }

    &Active {
      border-color: constants.$secondary-bg-color;
      background-color: constants.$secondary-bg-color;
      color: constants.$color-white;
      cursor: default;
    }
  }
}
