@use 'sass:color';
@use '@assets/styles/constants';

@keyframes blink {
  0% {
    opacity: 0.4;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.4;
  }
}

.btn {
  width: fit-content;
  max-width: 100%;
  word-break: keep-all;
  white-space: nowrap;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  cursor: pointer;
  box-sizing: border-box;
  position: relative;

  border-radius: 12px;
  padding: 16px;
  height: 56px;
  max-height: 56px;

  @include constants.text-btn;

  &:disabled {
    cursor: default;
    opacity: 0.4;
  }

  &.loading {
    position: relative;
    color: transparent;

    .loader {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -150%);
    }
  }

  &.withIndicator {
    padding-right: 24px;
  }
}

.indicator {
  position: absolute;
  top: 9px;
  right: 9px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  animation: blink 2s infinite;

  &.red {
    background-color: constants.$color-red;
  }

  &.green {
    background-color: constants.$color-green;
  }

  &.yellow {
    background-color: constants.$color-orange;
  }
}

//Colors
.primary {
  background-color: constants.$secondary-bg-color;
  color: constants.$color-white;
  border-color: constants.$secondary-bg-color;

  @media (hover: hover) {
    button:hover {
      background-color: color.adjust(
        constants.$secondary-bg-color,
        $lightness: -10%
      );
    }
  }

  &:active {
    background-color: color.adjust(
      constants.$secondary-bg-color,
      $lightness: -10%
    );
  }

  .loader {
    color: constants.$text-primary-color;
  }
}
.secondary {
  background-color: constants.$color-beige;
  color: constants.$color-black;
  border-color: constants.$color-beige;

  @media (hover: hover) {
    button:hover {
      background-color: color.adjust(constants.$color-white, $lightness: -10%);
    }
  }

  &:active {
    background-color: color.adjust(constants.$color-white, $lightness: -10%);
  }

  .loader {
    color: constants.$text-primary-color;
  }
}

.success {
  background-color: constants.$color-green;
  color: constants.$text-primary-color;
  border-color: constants.$color-green;

  @media (hover: hover) {
    button:hover {
      background-color: color.adjust(constants.$color-green, $lightness: -10%);
    }
  }

  &:active {
    background-color: color.adjust(constants.$color-green, $lightness: -10%);
  }

  .loader {
    color: constants.$text-primary-color;
  }
}

// hollow
.hollow {
  background-color: transparent;
}

// Additional
.withIcon {
  padding: 0 10px;

  svg {
    height: 20px;
    width: 20px;
    min-width: 20px;
  }
}
