@use '@assets/styles/constants';

.wrapper {
  padding: 100px 0 0;
  max-width: 368px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.greetingsText {
  @include constants.text-h1;
  margin-bottom: 8px;
  text-align: center;
  white-space: pre-wrap;
}

.subtitleText {
  @include constants.text-regular;
  margin-bottom: 24px;
  text-align: center;
  white-space: pre-wrap;
}

.button {
  width: 100%;
  margin-bottom: 16px;

  &:last-of-type {
    margin-bottom: 24px;
  }
}
