@use '@assets/styles/constants';

.wrapper {
  background: constants.$color-white;
  border-radius: 16px;
  padding: 16px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
  gap: 4px;
}

.orderNumber {
  @include constants.text-medium;
  position: relative;
  top: 2px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.items {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.item {
  display: flex;
  align-items: flex-end;
  font-size: 14px;
  gap: 2px;
  position: relative;

  &Text {
    @include constants.text-regular;
  }

  &Quant {
    align-self: flex-start;
  }
  &Name {
    flex-grow: 1;
    overflow: hidden;

    span {
      position: relative;
    }
    span::after {
      content: '';
      height: 1px;
      background-image: repeating-linear-gradient(
        to right,
        constants.$color-gray 0px,
        constants.$color-gray 2px,
        transparent 2px,
        transparent 4px
      );
      display: inline-block;
      width: 1000px;
      vertical-align: baseline;
      position: absolute;
      bottom: 3px;
      left: calc(100% + 4px);
    }
  }
}

.dashDivider {
  width: 100%;
  height: 1px;
  background-image: repeating-linear-gradient(
    to right,
    constants.$color-gray 0px,
    constants.$color-gray 12px,
    transparent 12px,
    transparent 24px
  );
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
  @include constants.text-medium-lg;
}

.emptyState {
  text-align: center;
  color: constants.$text-inactive-color;
  padding: 16px;
  font-size: 14px;
  font-weight: 500;
}

.draftBorder {
  padding-bottom: 32px;
  clip-path: polygon(
    0 0,
    0 calc(100% - 24px),
    2.5% calc(100% - 12px),
    5% calc(100% - 24px),
    7.5% calc(100% - 12px),
    10% calc(100% - 24px),
    12.5% calc(100% - 12px),
    15% calc(100% - 24px),
    17.5% calc(100% - 12px),
    20% calc(100% - 24px),
    22.5% calc(100% - 12px),
    25% calc(100% - 24px),
    27.5% calc(100% - 12px),
    30% calc(100% - 24px),
    32.5% calc(100% - 12px),
    35% calc(100% - 24px),
    37.5% calc(100% - 12px),
    40% calc(100% - 24px),
    42.5% calc(100% - 12px),
    45% calc(100% - 24px),
    47.5% calc(100% - 12px),
    50% calc(100% - 24px),
    52.5% calc(100% - 12px),
    55% calc(100% - 24px),
    57.5% calc(100% - 12px),
    60% calc(100% - 24px),
    62.5% calc(100% - 12px),
    65% calc(100% - 24px),
    67.5% calc(100% - 12px),
    70% calc(100% - 24px),
    72.5% calc(100% - 12px),
    75% calc(100% - 24px),
    77.5% calc(100% - 12px),
    80% calc(100% - 24px),
    82.5% calc(100% - 12px),
    85% calc(100% - 24px),
    87.5% calc(100% - 12px),
    90% calc(100% - 24px),
    92.5% calc(100% - 12px),
    95% calc(100% - 24px),
    97.5% calc(100% - 12px),
    100% calc(100% - 24px),
    100% 0
  );
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.footer {
  padding: 0 0 16px 0;
  &Btn {
    width: 100%;
  }
}
