@use '@assets/styles/constants';

.wrapper {
  max-width: 368px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.image {
  width: 176px;
  margin: 8px auto;
}

.title {
  @include constants.text-h1;
  margin-bottom: 8px;
  text-align: center;
}

.text {
  @include constants.text-regular;
  margin-bottom: 8px;
  text-align: center;
  white-space: pre-wrap;
}

.footer {
  margin-top: auto;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 8px;
  padding-bottom: 10px;

  .button {
    width: calc((100% - 8px) / 2);
  }
}
