@use '@assets/styles/constants';

.wrapper {
  width: 100%;
  background-color: constants.$main-bg-color;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 16px 24px;
  max-width: 680px;
  margin: 0 auto;
}

.text {
  @include constants.text-medium;
}

.back {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translate(0, -50%) rotate(180deg);
  color: constants.$color-black;
  border-radius: 8px;

  &:active {
    background-color: constants.$color-beige;

    svg {
      color: constants.$text-inactive-color;
    }
  }
}
