@use '@assets/styles/constants';

.wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 6px 24px;
  background-color: constants.$text-primary-color;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.text {
  font-weight: 600;
  font-size: 24px;
  color: constants.$main-bg-color;
}

.back {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translate(0, -50%) rotate(180deg);
  color: constants.$main-bg-color;
  border-radius: 8px;

  &:active {
    background-color: constants.$main-bg-color;

    svg {
      color: constants.$text-primary-color;
    }
  }
}
