@use '@assets/styles/constants';

.wrapper {
  padding: 100px 16px 32px;
  margin: 0 auto;
  max-width: 480px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  text-align: center;
  color: constants.$text-primary-color;
}

.icon {
  width: 160px;
  height: auto;
}

.title {
  font-size: 24px;
  font-weight: 600;
  margin: 0;
}

.subtitle {
  font-size: 16px;
  margin: 0;
  line-height: 1.4;
  color: constants.$text-inactive-color;
}

.button {
  width: 100%;
  max-width: 280px;
}
