@use '@assets/styles/constants';

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: constants.$color-overlay;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  padding: 9px 24px;
}

.modal {
  background-color: constants.$color-white;
  border-radius: 16px;
  padding: 16px;
  width: 100%;
  max-width: 400px;
  height: initial;
  max-height: calc(100vh - 48px);
  position: relative;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
  animation: slideIn 0.3s ease-out;
  display: flex;
  flex-direction: column;

  &.type_confirm {
    .footer {
      justify-content: space-between;
    }
  }

  &.type_alert {
    .footer {
      justify-content: center;
    }
  }

  &.type_custom {
    .content {
      flex: 1;
      overflow: hidden;
      margin-bottom: 0;
      min-height: 0;
      display: flex;
      flex-direction: column;
    }
  }
}

.closeButton {
  width: 24px;
  height: 24px;
  border-radius: 8px;
  position: absolute;
  top: 8px;
  right: 10px;
  border: none;
  cursor: pointer;
  color: constants.$color-black;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-in-out;
  background-color: #fff;
  z-index: 100;
}

.title {
  font-size: 20px;
  font-weight: 600;
  color: constants.$main-bg-color;
  margin: 0 0 16px;
  padding-right: 32px;
}

.content {
  @include constants.text-medium;
  margin-bottom: 12px;
  text-align: center;
}

.footer {
  display: flex;
  gap: 16px;
}

.button {
  flex: 1;
  min-width: 0;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
