@use '@assets/styles/constants';

.wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: center;
  padding: 16px 0 2px;
  position: relative;

  .tab {
    padding: 2px 16px 6px;
    white-space: nowrap;
    word-break: keep-all;
    cursor: pointer;
    @include constants.text-regular;
    text-align: center;
    color: constants.$text-inactive-color;
    border-bottom: 1px solid constants.$text-inactive-color;

    &Active {
      color: constants.$color-black;
      border-bottom: 1px solid constants.$color-black;

      cursor: default;
      @media (hover: hover) {
        &:hover {
          color: constants.$color-black;
          cursor: default;
        }
      }
    }
  }
}
