@use '@assets/styles/constants';

.wrapper {
  width: fit-content;
  display: flex;
  justify-content: flex-end;
  position: relative;

  &.loading {
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(constants.$color-orange, 0.1);
      border-radius: 12px;
      z-index: 3;
    }
  }

  .minus, .plus {
    z-index: 2;
  }
  .minus {
    position: absolute;
    right: 0;
    transition: all 0.2s ease-in-out;
  }
  .quant {
    z-index: 1;
    position: absolute;
    right: 0;
    height: 40px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;

    @include constants.text-medium-lg;
    color: constants.$color-orange;

    border-top: 1px solid rgba(constants.$color-orange, 0.4);
    border-bottom: 1px solid rgba(constants.$color-orange, 0.4);

    transition: all 0.2s ease-in-out;
  }

  &.withQuant {
    width: 118px;
    .minus {
      right: 78px;
      transition: all 0.2s ease-in-out;
    }
    .quant {
      right: 20px;
      width: 78px;
      border-radius: 0;
      transition: all 0.2s ease-in-out;
    }
  }
}
