@use '@assets/styles/constants';

.product {
  width: 100%;
  background-color: constants.$text-primary-color;
  border-radius: 12px;
  display: flex;
  gap: 12px;
  padding: 12px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.4);

  .avatar {
    width: 82px;
  }

  .info {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 6px;

    .name {
      color: constants.$main-bg-color;
      font-weight: 600;
      font-size: 20px;
    }

    .price {
      color: constants.$secondary-bg-color;
      font-weight: 600;
      font-size: 18px;
    }

    .addButton {
      align-self: flex-end;
    }
  }
}
