@use '@assets/styles/constants';

.product {
  width: 100%;
  height: 106px;
  background-color: constants.$color-white;
  border-radius: 12px;
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.4);

  .avatar {
    width: 90px;
  }

  .data {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 8px;
    flex-grow: 1;
  }
  .header {
    width: 100%;
    flex-grow: 1;
    .name {
      @include constants.text-medium;
    }
    .weight {
      margin-top: 2px;
      @include constants.text-sm-inactive;
    }
  }
  .footer {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    .price {
      @include constants.text-medium-lg;
    }

    .addButton {
      align-self: flex-end;
    }
  }
}
