@use '@assets/styles/constants';

.wrapper {
  border-radius: 8px;
  overflow: hidden;
  position: relative;

  .tempIcon {
    position: absolute;
    top: 4px;
    left: 4px;
    z-index: 5;
    width: 24px;
    height: 24px;
    background-color: var(--color-white-alpha-50);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .imgWrapper {
    overflow: hidden;
  }

  .blurPlaceholder {
    filter: blur(8px);
    transform: scale(1.1);
  }

  .mainImage {
    transition: opacity 0.3s ease;

    &.loading {
      opacity: 0;
    }
  }

  img {
    height: 100%;
  }

  &.lg {
    .tempIcon {
      top: 8px;
      left: 8px;
    }
  }
}
