@use '@assets/styles/constants';

.wrapper {
  border-radius: 8px;
  overflow: hidden;
  position: relative;

  .tempIcon {
    position: absolute;
    top: 4px;
    left: 4px;
    z-index: 5;
    width: 24px;
    height: 24px;
    background-color: rgba(constants.$color-white, .5);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .imgWrapper {
    overflow: hidden;
  }

  img {
    height: 100%;
  }

  &.lg {
    .tempIcon {
      top: 8px;
      left: 8px;
    }
  }
}
