@use '@assets/styles/constants';

.emptyState {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 9px 16px;
  text-align: center;

  .emptyStateIcon {
    margin-bottom: 8px;
    max-width: 176px;
    img {
      object-fit: contain;
    }
  }

  .emptyStateTitle {
    @include constants.text-h1;
    margin: 0 0 8px 0;
  }

  .emptyStateText {
    @include constants.text-regular;
  }
}
