@use '@assets/styles/constants';

.tileSelectWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.optionItem {
  width: 100%;
  border-radius: 8px;
  padding: 0 16px 0 12px;
  display: flex;
  align-items: center;
  gap: 14px;
  cursor: pointer;
  height: 44px;
  background-color: constants.$color-white;
  border: 1px solid transparent;

  .checkbox {
    width: 18px;
    height: 18px;
    min-width: 18px;
    flex-shrink: 0;
    border-radius: 50%;
    border: 2px solid rgba(49, 49, 49, 0.56);
  }

  .label {
    @include constants.text-modal-description;
    flex-grow: 1;
    line-height: 1;
    position: relative;
    top: 2px;
  }

  .price {
    @include constants.text-modal-description;
    font-weight: 700;
    line-height: 1;
    position: relative;
    top: 2px;
  }

  &.selected {
    border: 1px solid constants.$color-orange;

    .checkbox {
      border-color: constants.$color-orange;
      position: relative;
      &:before {
        display: block;
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: constants.$color-orange;
      }
    }
  }

  &.disabled {
    opacity: 0.5;
    cursor: default;
  }
}

.blueTiles {
  gap: 8px;

  .optionItem {
    border-radius: 12px;
    padding: 8px 16px;
    flex-direction: row-reverse;
    gap: 4px;
    cursor: pointer;

    .checkbox {
      width: 16px;
      height: 16px;
      min-width: 16px;
      border: 2px solid constants.$secondary-bg-color;
    }

    .label {
      @include constants.text-regular;
      flex-grow: 1;
      line-height: 1;
      position: relative;
      top: 2px;
    }

    .price {
      @include constants.text-regular;
      line-height: 1;
      position: relative;
      top: 2px;
    }

    &.selected {
      border: 1px solid constants.$secondary-bg-color;

      .checkbox {
        position: relative;
        &:before {
          width: 8px;
          height: 8px;
          background-color: constants.$secondary-bg-color;
        }
      }
    }

    &.disabled {
      opacity: 0.5;
      cursor: default;
    }
  }
}
