@forward '../fonts/fonts';

$main-font-family: 'Helvetica Neue', sans-serif, serif;

$main-bg-color: #f5f5f5;
$secondary-bg-color: #006db6;

$color-black: #000;
$color-white: #fff;
$color-gray: #7a7a7a;
$color-green: #62ae1c;
$color-green-dark: #027a22;
$color-green-light: #34a853;
$color-red: #ff5151;
$color-pink: #cf3dff;
$color-orange: #914a20;
$color-orange-light: rgba(145, 74, 32, 0.4);
$color-beige: #ebddbd;
$color-cream: #f5e6d3;
$color-overlay: rgba(60, 60, 67, 0.32);
$color-cart-blue: #2562a7;

$text-primary-color: $color-black;
$text-inactive-color: rgba(60, 60, 67, 0.6);

//sidebar
$sidebar-width: 320px;
$sidebar-width-mobile: 282px;

@mixin text-h1 {
  font-family: $main-font-family;
  color: $text-primary-color;
  font-weight: 700;
  font-size: 28px;
  line-height: 32px;
}

@mixin text-regular {
  font-family: $main-font-family;
  color: $text-primary-color;
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
}

@mixin text-medium {
  font-family: $main-font-family;
  color: $text-primary-color;
  font-size: 17px;
  line-height: 24px;
  font-weight: 500;
}

@mixin text-medium-lg {
  font-family: $main-font-family;
  color: $text-primary-color;
  font-size: 21px;
  line-height: 32px;
  font-weight: 500;
}

@mixin text-sm-inactive {
  font-family: $main-font-family;
  color: $text-inactive-color;
  font-weight: 400;
  font-size: 11px;
  line-height: 14px;
}

@mixin text-modal-title {
  font-family: $main-font-family;
  color: $text-primary-color;
  font-weight: 500;
  font-size: 22px;
  line-height: 20px;
}

@mixin text-modal-description {
  font-family: $main-font-family;
  color: $text-primary-color;
  font-weight: 400;
  font-size: 15px;
  line-height: 14px;
}
