@use "../fonts/fonts";

$main-font-family: 'TTFirs', sans-serif, serif;

$main-bg-color: #23201c;
$color-green: #62ae1c;
$color-green-dark: #152c07;
$color-black: #000;
$color-light-black: #1b1b1b;
$color-gray: #262626;
$color-light-gray: #3d3d3d;
$color-red: #e63e20;
$color-orange: #d28c00;

$text-primary-color: #ebddbd;
$text-inactive-color: #888;

//sidebar
$sidebar-width: 320px;
$sidebar-width-mobile: 282px;
