@use '../fonts/fonts';

$main-font-family: 'TTFirs', sans-serif, serif;

$main-bg-color: #f5f5f5;
$secondary-bg-color: #006db6;

$color-black: #000;
$color-white: #fff;
$color-green: #62ae1c;
$color-red: #ff5151;
$color-orange: #ff853e;

$text-primary-color: $color-black;
$text-inactive-color: rgba(60, 60, 67, 0.6);

//sidebar
$sidebar-width: 320px;
$sidebar-width-mobile: 282px;
