@use '../fonts/fonts';

$main-font-family: 'TTFirs', sans-serif, serif;

$main-bg-color: #23201c;
$secondary-bg-color: #006db6;

$color-white: #fff;
$color-green: #62ae1c;
$color-red: #e63e20;
$color-orange: #e94d13;

$text-primary-color: #ebddbd;
$text-inactive-color: #888;

//sidebar
$sidebar-width: 320px;
$sidebar-width-mobile: 282px;
