@use '../fonts/fonts';

$main-font-family: 'TTFirs', sans-serif, serif;

$main-bg-color: #f5f5f5;
$secondary-bg-color: #006db6;

$color-black: #000;
$color-white: #fff;
$color-green: #62ae1c;
$color-red: #ff5151;
$color-orange: #ff853e;
$color-beige: #ebddbd;

$text-primary-color: $color-black;
$text-inactive-color: rgba(60, 60, 67, 0.6);

//sidebar
$sidebar-width: 320px;
$sidebar-width-mobile: 282px;


@mixin text-h1 {
  font-family: $main-font-family;
  color: $text-primary-color;
  font-weight: 700;
  font-size: 28px;
  line-height: 32px;
}

@mixin text-regular {
  font-family: $main-font-family;
  color: $text-primary-color;
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
}

@mixin text-btn {
  font-family: $main-font-family;
  color: $text-primary-color;
  font-size: 17px;
  line-height: 24px;
  font-weight: 500;
}
